*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    /* justify-content: space-around; */
    /* margin: 20px auto; */
    padding: 32px;
    width: 100vw;
    align-items: center;
    background: linear-gradient(to right, #6CA2AE, #ffffff);
    color: #333333;
    /* position: sticky; */
    top: 0;
    height: 5vw;
}
.logo{
    width: 10%;
}
.nav-items{
    display: flex;
    padding: 16px;
    margin-right: 96px;
    border: solid red;
}
.nav-items ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40vw;
}
.nav-links{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px;
}